body{
  font-family: "Caviar Dreams";
  background: white;
  color: white;
}

.clearBoth{
  clear: both;
}

/*************

    COLUMN

**************/

.column{
  float: left;
  margin-left: 50px;
}

.column img{
  width: 40px;
  height: 40px;
  margin-left: 90px;
  margin-top: 20px;
}

.column h1{
  border-bottom: 2px solid #095228;
  width: 225px;
  font-family: "Courier", sans-serif;
  font-size: 22px;
}
  
.column p{
  font-family: "Caviar Dreams";
  font-size: 12px;
}

/*************

  CONTAINER

*************/

/**.container{
  float: right;
  margin-top: 70px;
}**/

input[type=text]{
  background: none;
  border: none;
  border-bottom: 2px solid #90CCDB;
  width: 400px;
  height: 30px;
  color: #515151;
  font-size: 16px;
  margin-right: 50px;
  margin-top: 20px;
  font-family: "Caviar Dreams";
  float: left;
}


textarea[type=textarea]{
  height: 200px;
  width: 845px;
  border: none;
  border: 2px solid #90CCDB;
  background: none;
  font-family: "Caviar Dreams";
  color: #515151;
  font-size: 16px;
  margin-top: 50px;
}


input[type=submit]{
  width: 110px;
  height: 45px;
  background: none;
  color: #90CCDB;
  border: 2px solid #90CCDB;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 740px;
  font-family: "Caviar Dreams";
}

