/* CLASSES A UTILISER DANS VOS PAGES */

.container {
  width: 1170px;
  background-color: #ffffff;
}

/* DIVERS */

body {
  background-color: #f3f3f3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6bbdd2;
}

li{
  float:left;

}

li:last-child{
  border-right:none;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  margin-left: 100px
}

li a:hover:not(.active){
  background-color: #6bbdd2;
}

.active{
  background-color: lightskyblue;

}

.nom {
  font-size : 50px;
  color: #6bbdd2;
  font-family: sans-serif;
}