body{
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

h1{
  color: #90ccdb;
  margin-left: 120px;
  margin-bottom: 40px;
}

nav li{
  list-style: none;
  transition: all 0.3s linear;
}

nav li a {
  display: block;
  color: white;
  transition: all 0.3s ease;
}

.menu li a {
 text-decoration: none;
}

.menu > li{
  background:#90ccdb; 
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu > li:hover{
  background:white;
}

menu > li > a{
 color:white;
}

.menu > li:hover > a {
  color:#90ccdb ;
}
h2{
  padding-top: 40px;
  font-size: 20px;
  font-size: 18px;
  text-align:left;
  margin-left:60px
}
.text{
  padding: 15px 15px 0px 20px;
  text-align:left; 
  font-size: 25px;
  margin-left:60px; 
  margin-left: none;
  margin-top: 50px;
  background-color:#d2ebf1;
}

.col-lg-4{
  padding-left: 0px;
}

.col-lg-4 img{
  margin-top: 50px;
  width: 90%;
  border: solid #d2ebf1;
  border-radius: 20px;
}

.col-lg-10{
  margin-top: 100px;
  margin-left: 170px;
  width: 74%;
  height:4px;
  background-color:#90ccdb; 
  
}

.col-lg-9 img{
  margin-left: 70px;
  margin-top: 100px;
  width: 100%
}

h3{
  padding-top:50px;
}

.col-lg-6 ul{
  margin-top: 20px;
  background-color:#d2ebf1; 
  padding: 20px;
}
.col-lg-6 ul li{
  text-align: left;
  font-size: 25px;
  list-style: none;

}

.col-lg-12{
  background-color: grey;
  padding-top: 20px;
  height: 50px;
}
